<!DOCTYPE html>
<html>
<style>
body {
    background-image: url("C:\Users\Dell\Desktop\IMG_2945_2.jpg");
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body bgcolor=blue>
<center>
<div ng-app="">
<p> firstName : <input type="text" ng-model="name"></p>
<p>lastName : <input type="text" ng-model="lastName"></p>
<p> semester : <input type="text" ng-model="semester"></p>
<p> branch : <input type="text" ng-model="branch"></p>
<p> cgpa : <input type="text" ng-model="cgpa"></p>
 <h1>Hello  {{ name +"  "+ lastName }}</h1>
</div>

</body>
</html>